body {
  font-family: Arial;
  text-align: center;
  background: #e8f5e9;
}

h1 {
  color: green;
}

button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.dark {
  background: #121212;
  color: white;
}
